{% extends "layout.html" %}
{% block content %}
    <center><img src="{{ url_for('static', filename='logo.png') }}" width="200" height="150"></center>>
    <!--h1 style="color: white;">About</h1-->
    <div style="color: white;">
        <br>
    <h3>About Us</h3>
    <p>
At <span style="color: red;font-weight:500;font-size:x-large;"> QuesTube</span>, we're reimagining education with the power of AI. Our platform brings together the expertise of teachers and the potential of technology to create a seamless learning experience.
</p>
<br>
<h3>What We Do</h3>
<p>
We specialize in AI-generated questions and answers for educational videos. Teachers can upload their content, and our AI automatically generates relevant questions. Students learn by watching videos and answering questions in one place.
</p><br>
<h3>Why Choose Us</h3>
<p>
Effortless Learning: Our platform makes learning easy and engaging. No need to juggle between videos and assessments – it's all integrated.
Instant Feedback: Students receive instant feedback on their answers, promoting continuous improvement.
Teacher Interaction: Teachers review answers, offer insights, and guide students personally.
Saves Time: With AI handling question generation, educators can focus on teaching.
Community Building: Collaborative features foster peer learning and a sense of togetherness.
</p>
<h3>Join Our Journey</h3>
<p>
Discover a new way of learning that adapts to your pace and style. Join us in shaping the future of education through AI and innovation.
</p>
</div>
{% endblock content %}